/* PALETA DE CORES */

:root {
  --cinza-claro: #8080808029;
  --cinza-escuro: #303030;
  --cinza-suave: #828282;
  --cinza-claro-suave: #dcdcdc;
  --branco: #fff;
  --lilas: #5d15d1;
  --preto: rgb(0, 0, 0, 0.5);
}

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--cinza-escuro);
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.titulo-ofertas h2 {
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.titulo-ofertas p {
  padding-bottom: 20px;
}

.secao-anuncios,
.secao-ofertas {
  padding: 30px 0;
  background-color: var(--cinza-claro-suave);
}

/* CABECALHO */
.secao-cabecalho {
  background-color: var(--branco);
}
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 55px;
}

.cabecalho p {
  font-size: 20px;
  margin-left: 10px;
  color: var(--lilas);
}

.cabecalho img {
  width: 30px;
  height: 30px;
}

/* SECAO FORMULARIO */
.secao-formulario {
  background-image: url("../assets/bahia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 30px 0;
}

.formulario-orcamento {
  background-color: var(--branco);
  width: 100%;
}
.titulo-formulario {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background-color: var(--lilas);
  width: 100%;
}
.container-formulario {
  padding: 5px 25px;
}
.titulo-formulario h1 {
  font-size: 18px;
  color: var(--branco);
  margin-left: 10px;
}
.titulo-formulario img {
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}
.container-formulario h2 {
  padding: 20px 0;
  font-size: 20px;
}

.formulario label {
  font-size: 14px;
}

.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario input[type="date"],
.formulario select,
.formulario-campo-radio {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 5px 0;
}

.formulario-campo-duplo,
.formulario-campo-radio {
  display: flex;
  gap: 10px;
  width: 100%;
}

.formulario-campo-duplo div {
  width: 50%;
}

.formulario-campo-radio {
  gap: 20px;
}

.formulario-campo-duplo option {
  width: 15px;
  margin-right: 5px;
}

.btn-solicita-orcamento {
  background-color: var(--lilas);
  color: var(--branco);
  font-size: 16px;
  margin-bottom: 10px;
  height: 32px;
  width: 160px;
}
/* -------------- SECAO OFERTAS ---------------------------*/
.area-ofertas {
  width: 100%;
  height: auto;
}

.destaque-desconto-oferta {
  font-weight: 700;
}

.container-ofertas,
.container-anuncios {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-oferta-destaque,
.box-ofertas,
.card-anuncio {
  width: 50%;
  height: auto;
}

.box-ofertas {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  height: auto;
}
.box-ofertas figcaption,
.box-oferta-destaque figcaption {
  width: 100%;
  position: absolute;
  font-size: 17px;
  bottom: 2px;
  color: var(--branco);
  background-color: var(--preto);
  padding: 5px 10px;
}
.card-ofertas {
  width: 45%;
}

.foto-local-turistico-destaque,
.foto-local-turistico {
  position: relative;
}
.foto-local-turistico-destaque img,
.card-anuncio img {
  width: 100%;
  height: 375px;
}

.foto-local-turistico img {
  width: 100%;
  height: 180px;
}

/* ------- ANUNCIO ------------------------*/

.card-anuncio {
  line-height: 2;
  background-color: var(--branco);
}

.resumo-anuncio p {
  color: var(--cinza-suave);
}

.resumo-anuncio {
  padding-left: 20px;
  margin-bottom: 20px;
}

/* ------------- RODAPE -----------------*/
.secao-rodape {
  background-color: var(--lilas);
  color: var(--branco);
}

.rodape {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
}

.contato {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.container-contato h2 {
  margin-bottom: 15px;
}

.contato img {
  width: 25px;
  height: 25px;
}
